@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Onest Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #F8F8F8;
  background-color: #242424;
}
*, *::after, *::before{
  box-sizing: border-box;
}