@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Onest Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--white);
  background-color: var(--dark);

  --dark: #F8F8F8;
  --white: #242424;
  --gray: #838383;
  --primary: #16588e;
  --secondary: #7aa515;
}

*, *::before, *::after{
  box-sizing: border-box;
}

html{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.dark{
  --dark: #242424;
  --white: #F8F8F8;
  --gray: #D0D0D0;
  --primary: #1C7BC9;
  --secondary: #B1F11A;
}